@import blueprint
@import blueprint/reset
@import compass

+reset-html5
+blueprint-typography

@import base


// STRUCTURE --------------

#pg
  +container

.article
  +clearfix  
  padding: 20px


.comments
  margin: 20px 0
  .comment
    padding: 10px
    border: 0 dashed
    border-width: 1px 0
    &+.comment
      border-top: 0


.userbox,
.meta
  ul
    +inline-list


// BORDERS ----------------

.article
  border-top: 1px solid  
  border-bottom: 1px solid
  &+.article
    border-top: 0
    
    
// TONES ------------------  

body
  background: #ddd
#bd
  background: white
  
.article.draft .title:after
  content: "draft"
  background-color: yellow
  display: inline-block
  float:left
  padding: 5px 10px
  margin: 10px
  
