@import base

// PAGE STRUCTURE _______________________________

#pg
  +container
  padding-top: 20px
  
#bd
  #main
    +column(18)
  #aside
    +column(6)
    +last
    +push(0.5)

// GENERIC ELEMENTS _____________________________

// FORMS ----------

form
  .field
    +clearfix
    label
      +column(4)
  .actions
    +prepend(4)

// COMPONENTS -----
  
.userbox 
  +clearfix
  ul
    +float(right)
    +reset-box-model
    +no-bullets
    text-align: right 
    
.article
  @extend .clearfix  
  padding: 20px 10px
  .title
    margin-top: 0
  & + .article
    border-top: 1px dashed gray

.meta
  ul
    +reset-box-model
    +no-bullets
    +float(right)
    margin-left:   $blueprint-grid-width
    margin-bottom: $blueprint-grid-width

.comments
  margin: 20px 0
  .comment
    padding: 10px
    border: 0 dashed gray
    border-width: 1px 0
    &+.comment
      border-top: 0

#aside .box
  padding: 5px 10px
  margin-bottom: 10px
  border-top: 1px solid  
  ul
    +reset-box-model
  li
    +no-bullet
    padding: 5px 0
    border: 0 dashed gray
    border-top-width: 1px
      
//TONES _________________________________________  
  
#pg
  background: url("mire.png") no-repeat  
   
#hd h1 a
  +unstyled-link
  padding: 10px
  &:hover
    text-decoration: underline

.article.draft .title:after
  content: "draft"
  background-color: yellow
  display: inline-block
  float:left
  margin: 0 10px

// BORDERS ______________________________________

#main
  border-top: 1px solid  
 
