.userbox
  - if user_signed_in?
    %ul
      %li= current_user.email
      %li= current_user.display_name
      %li= link_to 'sign out', destroy_user_session_url, :method => :delete          
  -else  
    = render :partial => 'devise/shared/links'
