!!!
%html

  %head
    %title Distinctions Fines
    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
    
    
  %body
  
    #hd
      =render 'userbox'

    #pg
    
      .notice=  notice
      .alert=   alert

    
      = yield

